.center-text-desc {
    width: 50%;
    font-size: 0.45em;
    color: white;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.center-text {
    margin-top: 0%;
}

.upper-text {
    width: 100%;
    font-size: 5vw;
    text-align: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

.background-container {
    margin-top: 0%;
    width: 100%;
    height: 100%; 
    background: url("background_img2.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.blurb-container {
    text-align: center;
    margin-top: 15%;
    color: white;
}

.blurb-title {
    color: white;
    font-size: 4em;
}

.blurb {
    display: flex;
    margin: 5%;
}

.blurb img {
    border: 4px solid lightgrey;
    border-radius: 3em;
}

.text-container {
    text-align: center;
    padding-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid white;
    border-radius: 2em;
    background-color: rgba(144, 238, 144, 0.406);
}

.name-label {
    font-size: 3em;
    margin-bottom: 1%;
}

.title-label {
    font-size: 1.5em;
    background-color: rgba(0, 255, 255, 0.595);
    width: 80%;
    margin-left: 10%;
}

.text-container p {
    font-size: 2em;
    padding: 2%;
}

.gradient {
    width: 100;
    height: 20%;
    position: relative;
    margin: -10%;
    background: linear-gradient(to bottom, transparent, rgb(0, 45, 0));
}