
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 5%;
    color: white;
    font-size: 1.5rem;
}

.info-box {
    width: 48%;
    background-color: rgba(0, 128, 0, 0.7);
    padding: 2%;
    margin: 1%;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.personal-info,
.future-projects,
.ongoing-projects,
.service-hours {
    flex-basis: calc(50% - 2rem);
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 68, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
}

.personal-info h2,
.future-projects h2,
.ongoing-projects h2,
.service-hours h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

.project {
    margin-top: 1rem;
}

.project h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.project p {
    font-size: 1rem;
    margin: 0.2rem 0;
}
