.projects-list {
    list-style-type: none;
    padding: 0;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.project {
    padding: 1em;
    text-align: center;
    width: 45vw;
    height: fit-content;
    margin: 1em;
    margin-top: 3em;
    height: 100px;
}

.project h2 {
    font-size: 3vw;
    margin-bottom: 0.5em;
}

.project p {
    font-size: 2vw;
}

.body-title {
    color: white;
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 5vw;
    text-align: center;
}

.background-container {
    margin-top: 0%;
    width: 100%;
    height: 100%; 
    background: url("background_img4.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.upper-text {
    width: 100%;
    font-size: 5vw;
    text-align: center;
    color: white;
    margin-top: 6% ;
}

.button {
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white; 
}

.button i {
    margin-right: 0.5rem;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3); 
    border-color: white; 
}
