body {
    background-image: url('background_img6.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

.title {
    margin-left: 20px; 
    font-family: "Your Fancy Font", sans-serif;
}